.logo {
    background: linear-gradient(to right, #F14694, #F8C248);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient {
    background: linear-gradient(to right, #F14694, #F8C248);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.cursor-pointer:hover {
    cursor: pointer;
    fill: #F14694;;
    color: #F14694;
}

footer {
    background-color: #FAF1ED;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #F14694;
}

a:focus {
    color: #F14694;
}

.text-shadow {
    text-shadow: 0px 0px 6px gray;
}

.text-gray {
    color: #6C757D;
    fill: #6C757D;
}

.default-width {
    width: 800px;
}