.plan-card {
    width: 375px;
    height: 250px;
}

img {
    height: 60%;
    object-fit: cover;
}

li {
    font-size: 0.9em;
    width: fit-content;
}

.dropdown-menu {
    min-width: fit-content;
}